<div class="mt-4">
    <h2>Đăng khóa học</h2>

    <form method="POST" class="mt-4" action="/courses/{{course._id}}?_method=PUT">
        <div class="mb-3">
            <label for="name" class="form-label">Tên khóa học</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" ></input>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <input type="text"  class="form-control" value="{{course.description}}" id="description" ></input>
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Video</label>
            <input type="text" class="form-control" value="{{course.videoId}}" id="videoId" placeholder="VideoId">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Level</label>
            <input type="text" class="form-control" value="{{course.level}}" id="level" placeholder="Level">
        </div>

        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
    
</div>

